@page {
  size: Letter;
  margin: 0.5in;
}

@media print {
  .experience {
    break-inside: avoid;
  }
}

body {
  font-family: sans-serif;
  font-size: 10pt;
  margin: 1em;
}

h1 {
  color: #002;
  }

h2, h3 {
  color: #333;
}

hr {
  color: #aaa;
  }
